$pink:    #d63384;
$primary:    $pink;

footer{
    color: white;
    position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding-top: .5rem;
padding-bottom: .5rem;
bottom: 0px;
}